<section class="row td-box td-box--white cncf-block">
  <div class="col-12">
    <div class="container text-center">
      <p class="lead">Blockstor is built to become an independent project, but today it is developed as part of <a href="https://cozystack.io">Cozystack</a>.</p>
      <p class="h3 p-3 mb-2 text-muted">Cozystack is a <a href="https://cncf.io">Cloud Native Computing Foundation</a> Sandbox project</p>
      <img class="mx-auto img-fluid cncf-logo cncf-logo--light" src="{{ "img/logos/cncf-color.svg" | relURL }}" alt="Cloud Native Computing Foundation logo">
      <img class="mx-auto img-fluid cncf-logo cncf-logo--dark" src="{{ "img/logos/cncf-white.svg" | relURL }}" alt="Cloud Native Computing Foundation logo">
    </div>
  </div>
</section>
